<a href="https://colab.research.google.com/github/AshleyHu0320/Data-Sicence-Bootcamp/blob/main/Week_01__Introduction(F_21).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

In [ ]:
print('Hello, world!')

Hello, world!

## Just for fun!

Did you know that entering `import this` prints the 'Zen of Python'?

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.

It is always good to follow the zen even when you have an opportunity to show off your Python skills! :)

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## The `help()` function

The `help()` function in python is used to display the documentation of modules, functions, classes, etc.

In [ ]:
# help([object])

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**NOTE:** If the `help()` function is passed without an argument,then the interactive help utility starts up on the console.

## Accessing the Attributes (/Methods) of any object

In order to understand the pre-loaded attributes of an object, we use the `dir()` function.

In [ ]:
# import [library]
# dir([library])

import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## Understanding data types in Python

Python has the following data types built-in by default:

Text: `str`

Numeric: `int`, `float`, `complex`

Sequence: `list`, `tuple`, `range`

Mapping: `dict`

Set: `set`, `frozenset`

Boolean: `bool`

Binary: `bytes`, `bytearray`, `memoryview`

In [ ]:
# type(variable) prints the data type of the variable. In this case, string

name = 'John ' + 'Oliver'
print(name)
print(type(name))

John Oliver
<class 'str'>

**NOTE:** The initialization of datat type to a particular variable happens automaticaly when we assign a value to a variable.

In [ ]:
# class integer

x = 10
print(x)

print(type(x))

10
<class 'int'>

In [ ]:
# class float

decimal = 0.420000
print(decimal)

print(type(decimal))

0.42
<class 'float'>

In [ ]:
# class list

groceries = ['apples', 'bananas', 3, 3]
print(groceries)

print(type(groceries))

type(groceries)

['apples', 'bananas', 3, 3]
<class 'list'>

list

In [ ]:
# class list, but tuples

a = [(1,2),(3,4,5),(6,7)]
print(a)

print(type(a))

[(1, 2), (3, 4, 5), (6, 7)]
<class 'list'>

In [ ]:
x = ('Chocolate', 'Vanilla', 'Mint', 'Strawberry', 'Choc-Chip')
print(x)

print(type(x))

('Chocolate', 'Vanilla', 'Mint', 'Strawberry', 'Choc-Chip')
<class 'tuple'>

In [ ]:
# class set

sets = set((10,2,53,27))

print(sets)
print(type(sets))

{27, 10, 2, 53}
<class 'set'>

In [ ]:
# class dictionary

hpc = {'Harry':'10', None:'Dumbeldore', 5:'Dark Arts'}

print(hpc)
print(type(hpc))

{'Harry': '10', None: 'Dumbeldore', 5: 'Dark Arts'}
<class 'dict'>

In [ ]:
# class boolean

boolean = True
print(boolean)

print('Boolean form another data type: ', bool(-2.3))

True
Boolean form another data type:  True

In [ ]:
#None type

z = None
print(type(z))

<class 'NoneType'>

## Commonly used operators in Python

In [ ]:
a = 5.5
b = 3.2

print('Add: ', a+b)
print('Subtract: ', a-b)
print('Divide: ', a/b)
print('Multiply: ', a*b)
print('Floor Division: ', a//b)
print('Mod: ', a%b)       
print('Power: ', a**b)

Add:  8.7
Subtract:  2.3
Divide:  1.71875
Multiply:  17.6
Floor Division:  1.0
Mod:  2.3
Power:  233.97023236799288

### A few tricks

In [ ]:
a = '10'
b = 5
c = 'Apple'

print('Before swap: ', a, b, c)

a, b, c = c, b, a
print('After swap: ', a, b, c)

Before swap:  10 5 Apple
After swap:  Apple 5 10

In [ ]:
a, *b = 6, 10, 21

print(type(a))
print(type(b))

print(b)

<class 'int'>
<class 'list'>
[10, 21]

## Type casting in Python

Type Casting is the method to convert the variable data type into a certain data type in order for the operation required to be performed by users.

In [ ]:
# switching from string to integer

x = '10'
print(type(x))

print('Typecasted X: ', int(x))

x = int(x)
print(type(x))

<class 'str'>
Typecasted X:  10
<class 'int'>

In [ ]:
# switching from string to float

print(float(x))

x = float(x)
print(type(x))

10.0
<class 'float'>

In [ ]:
# switching from string to list

In [ ]:
# switching from integer to string

x = str(1) + '0'

print('Integer to String: ', x)

Integer to String:  10

In [ ]:
# switching from set to list

s = set((1, 2, 3, 5, 8))

list_s = list(s)
print(list_s)

[1, 2, 3, 5, 8]

In [ ]:
# switching from a tuple to list

tuples = ((1, 2), (4, 'Ginny'), (7, 'Fred'))

list_tup = list(tuples)

print(list_tup)
print(type(list_tup))

[(1, 2), (4, 'Ginny'), (7, 'Fred')]
<class 'list'>

In [ ]:
# ascii value of alpha numeric characters

print(chr(120))

x

In [ ]:
# string to ascii

print(ord('x'))

120

## Using in-built functions

### Using the `random` method

This method is used to geenrate 'random' values or ranges depending on the requirement.

In [ ]:
import random

# adding the start and end paramaters

### Using the `math` method

You can use this method(/library) to make mathematical operations much easier.

In [ ]:
import math

### Using the `datetime` method

Yeah, nothing fancy about it. Just does what the name mentions.

In [ ]:
import datetime

date = datetime.datetime.now()

print(date)
print(type(date))

## Lists!

In [ ]:
# initializing a list


# the data type of the variable


# a numeric list


# list with objects


# The operations are automatically computed when mentioned inside the list

### Accessing the values from a list

**Fun fact:** Python does allow negative indexing!

In [ ]:
# executing all the values from the beginning to the end

In [ ]:
# let's say that we want we to skip a few values in between

In [ ]:
# negative ranges

### Modifying lists

In [ ]:
# make changes in the list

list_object.extend([0,1.2])
print(list_object)


# make range of values changes

subset_items = [1,52,798,8]
list_object[0:4] = subset_items
print(list_object)

In [ ]:
# skipping changes

subset = ['2','45555','12']
list_object[0:5:2] = subset
print(list_object)

In [ ]:
# delete an element

list_object = [1, 2, 12, 12, 12, 3, 4, 5, 7]

# can be used as a stack and/or a queue

What do we do if there is an error while removing a value from the list and the list is empty?

In [ ]:
# we use the try except functionality

## The `for` loop

In [ ]:
print('Adding the step parameter ')

In [ ]:
print('Printing the values in the format of a list ')

In [ ]:
print('One-line for loop')

In [ ]:
print('One-linear nested for loop Matrix Multiplication')

matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like: ', matrix_mul)

In [ ]:
a = ['Hello', 'world', '!']

# iterable method 1
print('Iterable Method 1: ')
for i in range(len(a)):
  print(i, a[i])

# iterable method 2
print('\nIterable Method 2: ')
for i in a:
  print(i)

# (iterable?) method 3
print('\nMethod 3: ')
print(list(enumerate(a)))

## Functions

To define a function, use the `def` keyword followed by the name of the function with attributes.

In [ ]:
def fizzBuzz():
  
  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''

  n = int(input('Enter a number: '))
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if (count % 5 == 0):
      string += 'Buzz'
    print(count,string)
    count +=1
    
fizzBuzz()

In [ ]:
def fizzBuzz():
  
  '''
  Same function as above with more if else conditions.
  '''
  
  n = int(input('Enter a number: '))
  count = 1
  while(count <= n):
    if (count % 5 == 0 and count % 3 == 0):
      print(count,'Fizz Buzz')
    elif (count % 3 == 0):
      print(count,'Fizz')
    elif (count % 5 == 0):
      print(count,'Buzz')
    else:
      print(count)
    count +=1

fizzBuzz()

## Dictionaries

In the case of dictionaries, we use `key` and not indexes to refer elements in the dictionary.

In [ ]:
# creating an empty dictionary
dict_ = {}

#dict_ = {key:value,key:value} 
# keys have to be in a set i.e., they are to be unique

string = 'iamdictionaryiteratemeandseethefun'

for ch in string:
  if (ch in dict_):
    dict_[ch] +=1

  else:
    dict_[ch] = 1

for k,v in dict_.items():
  # pass
  print(f'Character {k} and its count {v}')

**NOTE:** If we try updating for a key that is present the original value will be overwritten

In [ ]:
# print value for some key

# Hint: use .get or check for existence before access to avoid error like below

## Sorting

For sorting a list, the data type of all the elements should be the same.

In [ ]:
list_ = ['a','3232','21332','bsaa','87','3231']
print(list_)

print('\nAscending order: ')

# the sorting is done only for the first character
result = []
for i in list_:
  sum_ = 0
  for j in i:
    sum_ = ord(j)
    break
  result.append(sum_)

# it checks the first character of the string
# if there is a match, it proceeds further
print('Before sorting')
print(list_)
print(result)

print('---------------')
print('After sorting')
list_.sort()
result.sort()
print(list_)
print(result)

### Difference between `sort()` and `sorted()`

`sort()` function will modify the list it is called on. The function modifies/sorts the list in-place and has no return value.

On the other hand, `sorted()` function will create a new list containing a sorted version of the list it is given.

In [ ]:
a = [1,3,2]
print('a: ', a)
b = sorted(a)
print('a after sorted(): ',a)
print('\nb: ', b)
a.sort()
print('a after sort(): ', a)

## `lambda` functions in Python

In [ ]:
add = lambda a, b, c: a+b+c
print(add(5, 6, 2))

13

In [ ]:
dictonary = {67:"Ted", 23:"Marshall", 12:"Barney", 45:"Robin", 11:"Lily", 73:"Victoria", 99:"Tracy"}

# sort the tuple on values
tuples  = sorted(dictonary.items(), key = lambda x:(x[1],x[0]), reverse=False)
print('\nSorted on values')
for elements in tuples:
    print(elements[0],"::",elements[1])